<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display points | GUDLFT Registration</title>
</head>
<body>

    {% if session.club_email %}
    <a href="{{ url_for('showSummary') }}">Back to summary</a>
    <br> <a href="{{ url_for('logout') }}">Logout</a> <br>
    {% else %}
    <a href="{{ url_for('index') }}">Previous</a>
    {% endif %}


    <h1> Dashboard clubs points </h1> 
    <br>
    <table>
        <thead>
            <tr>
                <th>Club</th>
                <th>Points</th>
            </tr>
        </thead>
        {% for club in clubs %}
        <tbody>
            <tr>
                
                <td>{{ club['name'] }}</td>
                <td>{{ club['points'] }}</td>
                
            </tr>
        </tbody>
        {% endfor %}

    </table>
 

</body>
</html>
